DATABASE_URL="postgresql://postgres.amagnhwahbhenulypuqu:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.amagnhwahbhenulypuqu:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres?sslmode=require"
SESSION_SECRET="change-this-to-a-secure-random-string"
JWT_SECRET="change-this-to-a-secure-random-string"
PORT=3001
CLIENT_URL="http://localhost:5173"
